
.menu{
    /* padding-top: 20px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    font-size: 1.2rem;
}

.menuLeft{
    padding-top: 10px;
}

.menuRight{
    padding-top: 10px;
}

.hoverTheme:hover{
    cursor: pointer;
}

.uploadAudio{
    margin-top: 10px;
    padding: 12px;
    /* height: 100%; */
    width: 150px;
    max-width: 500px;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    background: linear-gradient(123deg, #71b8e7,#9b59b6);
}