
.container{
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
}

.titleAndArtist{
    white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.titleAndArtist:hover{
  cursor: pointer;
  opacity: 0.7;
}

.hoverLiked:hover{
  cursor: pointer;
}